<!DOCTYPE html>
<html>
<head>
  <title>User Show Page</title>
</head>
<body>
  <header>
  </header><!-- /header -->
  <main>
    <section>
      <h2>User Attributes:</h2>
      <ul>
        <li>Username: <%= user.username %></li>
        <li>Password: <%= user.password %></li>
        <li>Photos: <%= user.photos %></li>
      </ul>
    </section>
    <section>
      <form action="/users/<%=user.id%>?_method=DELETE" method="POST" >
        <input type="submit" value="Delete User">
      </form>
      <button>
        <a href="/users/<%=user.id%>/edit">Edit User</a>
      </button>
    </section>
    <nav>
    <ul>
      <li><a href="/">Return To Homepage</a></li>
      <li><a href="/users">Users Index</a></li>
    </ul>
  </nav>
  </main>
</body>
</html>